*{
    margin:0;
    padding:0;
    box-sizing:border-box;}

html{font-size:62.5%;}

.box{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    text-align: center;
    padding: 1rem 1rem 0.5rem;}

header{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5rem;
    margin:2rem;}

h1{
    font-weight:700;
    font-size:6.4rem;
    color:#1e293b;}

.heading{
    font-weight:700;
    color:#c084fc;
    font-size:6.4rem;}

.content-heading{
    margin-top:1rem;
    margin-bottom:4rem;
    color:#334155;
    font-weight:400;
    font-size:2rem;}

a{
    margin: 1rem;
    font-size:1.8rem;}

.button{
    padding: 1rem 3rem;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
    background-color:#a855f7;
    text-decoration: none;}

.button:hover{
    background-color:#9333ea;}

.button-cta{
    padding: 1rem 3rem;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
    background-color: #f05123;
    text-decoration: none;}

.button-cta:hover{
    background-color:#d8431c;}

.avatar{
    margin-top:4rem;
    border-radius:7rem;
    border: 0.2rem solid rgba(192, 132, 252, 0.6);
    width: 4rem;}

.text-avatar{
    margin-top:1rem;
    font-weight:600;
    color:#334155;
    font-size:2rem;
}

.text2500{
    color:#9333ea;
    font-weight:700;}

#turnoncolor{
    margin-right:1rem;
    margin-top:2rem;}

input{
    background-color: #f8fafc;}

label{
    font-size:1.6rem;}

#turnoncolor:checked ~ .advice{
    color: #6b21a8;
    background-color:rgba(192, 132, 252, 0.35);}

.advice{
    line-height:4rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);}

.title-advice{
    font-weight:700;
    font-size:2.2rem;}

.content-advice{
    font-weight:400;
    font-size:1.8rem;}

.benefits{
    margin-top:5rem;
    padding-bottom:5rem;}

.icon{
    margin-right:1rem;
    width: 2rem;
    height: 2rem;}

.text-benefits{
    margin: 3rem;
    color: #334155;
    font-weight:600;
    font-size:1.6rem;}

footer{
    background-color:rgba(255, 255, 255, 0.35);
    padding-top:7rem;
    border-top: 0.1rem solid rgba(192, 132, 252, 0.6);
    margin-top:3rem;
    text-align:center;
    font-size:1.6rem;}

.dialog{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    opacity:0;}

.dialog:target{
    visibility: visible;
    opacity:1;}

.overlay-close{
    position:absolute;
    width:200rem;
    height:200rem;
    background-color:rgba(0, 0, 0, 0.5);
    cursor:default;}

.dialog-body{
    width:50rem;
    height:40rem;
    position:relative;
    background-color:#ffffff;
    border-radius:2rem;}

.content-dialog{
    margin-top:1rem;
    color: #677388;
    font-weight:400;
    font-size:1.5rem;}

.btn-close{
    font-size:2rem;
    font-weight:bold;
    position:absolute;
    top:1rem;
    right:1rem;
    text-decoration:none;
    color:#333}

h2{
    margin-top:2rem;
    font-weight:400;
    font-size:2.8rem;}

.benefits-2{
    text-align: left;}

.bnf-text{
    font-size:1.5rem;
    display:block;
    margin:2rem;
    color:#334155;}

.btn-batdaungay{
    display: block;
    padding: 2rem 2rem;
    color: white;
    border-radius: 1rem;
    font-weight: 600;
    background-color:#a855f7;
    text-decoration: none;
    margin: 3rem 3rem 1rem;}

.btn-dacotaikhoan, .btn-muonnangcao{
    display: inline-block;
    color: #c084fc;
    text-decoration: none;}

.btn-dacotaikhoan:hover, .btn-muonnangcao:hover{
    text-decoration: underline;}

.text-field{
    position:relative;
    padding-left:1rem;
    text-align:center;
    display:block;}

.text-field>input{
    margin-bottom:2rem;
    padding-left:0.5rem;
    width: 33rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #e2e8f0;
    background-color: #f8fafc;}

.info-msg {
    position: absolute;
    margin-left: 0.8rem;
    top: 0.1rem;
    display: none;}

.msg-box {
    background: #292929;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.4rem;}

.triangle {
    width: 0;
    /*border-top: 0.8rem solid #292929;*/
    /*border-right: 0.8rem solid transparent;*/
    /*border-left: 0.8rem solid transparent;*/
    border-color: #292929 transparent transparent;
    border-style: solid;
    border-width: 4px;
    margin-left: 30px;}

.text-field input[type="text"]:hover ~ .info-msg {
    display: block;}

.options-khqt label:hover ~ .info-msg {
    position: absolute;
    top: -3rem;
    display: block;}

.text-field>label{
    margin:1rem;
    text-align:left;
    display:block;}

.text-field~label{
    margin-bottom:1rem;
    padding-left:1rem;
    text-align:left;
    display:block;}

.options-khqt{
    position:relative;
    margin-bottom:1rem;
    line-height:2rem;
    padding-left:1rem;
    text-align:left;
    display:block;}

.options-khqt>label{
    position: absolute;
    color: #4f5968;
    margin-left:1rem;}

.modal{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    opacity:0;}

.modal:target{
    visibility: visible;
    opacity:1;}

.modal-body{
    width:40rem;
    height:65rem;
    position:relative;
    background-color:#ffffff;
    border-radius:2rem;}

.content-modal{
    margin-bottom:3rem;
    margin-top:1rem;
    color: #677388;
    font-weight:400;
    font-size:1.5rem;}

button{
        padding: 1rem 8rem;
        color: white;
        border-radius: 2rem;
        font-weight: 600;
        background-color:#f05123;}
