*{
    margin:0;
    padding:0;
    box-sizing:border-box;}

html{font-size:62.5%;}

.box{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    text-align: center;
    padding: 1rem 1rem;}

header{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5rem;
    margin:2rem;}

h1{
    font-weight:700;
    font-size:6.4rem;
    color:#1e293b;}

h2{
    font-weight:400;
    font-size:2.8rem;}

.heading{
    font-weight:700;
    color:#c084fc;
    font-size:6.4rem;}

.content-heading{
    margin-top:1rem;
    margin-bottom:4rem;
    color:#334155;
    font-weight:400;
    font-size:2rem;}

.content-dialog{
    margin-bottom:1rem;
    color: #677388;
    font-weight:400;
    font-size:1.5rem;}

a{
    margin: 1rem;
    font-size:1.8rem;}

.button{
    padding: 1rem 3rem;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
    background-color:#a855f7;
    text-decoration: none;}

.button:hover{
    background-color:#9333ea;}

.button-cta{
    padding: 1rem 3rem;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
    background-color: orange;
    text-decoration: none;}

.btn-batdaungay{
    display: block;
    padding: 1rem 3rem;
    color: white;
    border-radius: 1rem;
    font-weight: 600;
    background-color:#a855f7;
    text-decoration: none;}

.btn-dacotaikhoan, .btn-muonnangcao{
    color: #c084fc;
    text-decoration: none;}

.avatar{
    margin-top:4rem;
    border-radius:7rem;
    border: 0.2rem solid rgba(192, 132, 252, 0.6);
    width: 4rem;}

.text-avatar{
    margin-top:1rem;
    font-weight:600;
    color:#334155;
    font-size:2rem;
}

.text2500{
    color:#9333ea;
    font-weight:700;}

#turnoncolor{
    margin-top:3rem;}

#turnoncolor:checked ~ .advice{
    background-color:rgba(192, 132, 252, 0.35);}

.advice{
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);}

.title-advice{
    font-weight:700;
    font-size:2.2rem;}

.content-advice{
    font-weight:400;
    font-size:1.8rem;}

.benefits{
    margin-top:5rem;
    padding-bottom:7rem;}

.icon{
    width: 2rem;
    height: 2rem;}

.text-benefits{
    margin: 3rem;
    color: #334155;
    font-weight:600;
    font-size:1.6rem;}

footer{
    background-color:rgba(255, 255, 255, 0.35);
    padding-top:5rem;
    border-top: 0.1rem solid rgba(192, 132, 252, 0.6);
    margin-top:5rem;
    text-align:center;
    font-size:1.6rem;}

.dialog{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    opacity:0;}

.overlay-close{
    position:absolute;
    width:200rem;
    height:200rem;
    background-color:rgba(0, 0, 0, 0.5);
    cursor:default;}

.dialog:target {
    visibility: visible;
    opacity:1;}

.dialog-body{
    line-height:2.2;
    width:50rem;
    height:40rem;
    position:relative;
    padding:1rem;
    background-color:#ffffff;
    border-radius:2rem;}

.btn-close{
    font-size:2rem;
    font-weight:bold;
    position:absolute;
    top:1rem;
    right:1rem;
    text-decoration:none;
    color:#333}

.benefits-2{
    text-align: left;
    position: static;}

.bnf-text{
    font-size:1.5rem;
    display:inline;
    margin:3rem;
    color:#334155;}