.bene-bot{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bene-item{
    display: flex;
    gap: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
    border-radius: 1.2rem;
    background: #FFFFFF;
    flex: 1;
}
.card p:first-child{
    font-size: 8rem;
    font-weight: 700;
    align-self: flex-end;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.social{
    border: 0.1rem solid #F1F1F3;
    border-radius: 0.8rem;
    padding: 2rem;
    background: #FCFCFD;
    align-self: flex-end;
    margin-top: auto;
}