.courses{
    margin-bottom: 10rem;
}
.course-bot{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.course-item{
    display: flex;
    gap: 3rem;
}
.course-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;
    padding: 5rem;
    background: #FFFFFF;
    border: 0.1rem solid #F1F1F3;
    border-radius: 1.2rem;
    flex: 1;
}
.coursecard-top{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.coursecard-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.course-caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-caption p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
}
.caption-btn{
    display: flex;
    gap: 1rem;
}
.caption-btn a{
    border: 0.1rem solid #F1F1F3;
    border-radius: 0.8rem;
    padding: 1rem 1.6rem;
    background: #FFFFFF;
    color: #4C4C4D;
}
.course-title{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.course-title h3{
    font-size: 2.4rem;
    font-weight: 600;
}
.course-title p{
    color: #4C4C4D;
}
.course-card > a{
    border: 0.1rem solid #F1F1F3;
    border-radius: 0.8rem;
    padding: 1.8rem 2.4rem;
    background: #F7F7F8;
    width: 100%;
    text-align: center;
    display: inline-block;
}