.pricing{
    margin-bottom: 15rem;
}
.pricing-content .hero-btn{
    padding: 1.2rem;
}
.pricing-content .hero-btn > a{
    padding: 1.4rem 3rem;
}
.pricing-bot{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 5rem;
    background: #FFFFFF;
    border-radius: 1.2rem;
}
.pricing-item{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border: 0.1rem solid #F1F1F3;
    border-radius: 1.2rem;
    background: #FCFCFD;
    align-items: center;
    padding: 5rem 3rem;
}
.pricing-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.free-plan{
    border: 0.1rem solid #FFEACC;
    border-radius: 0.6rem;
    background: #FFF9F0;
    font-size: 2.2rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 1.2rem 2.2rem;
}
.pricing-sub{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 4rem;
    background: #FFFFFF;
    border: 0.1rem solid #F1F1F3;
    border-top-right-radius: 1.4rem;
    border-top-left-radius: 1.4rem;
}
.pricing-sub > p{
    font-size: 2rem;
    font-weight: 500;
}
.feature-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    flex: 1;
}
.feature-item{
    align-items: center;
    min-width: 0;
    display: flex;
    gap: 1.2rem;
    padding: 1.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #F1F1F3;
}
.feature-item > p{
    flex: 1;
    font-size: 1.5rem;
    white-space: nowrap;
}
.pricing-list a{
    background: #FF9500;
    padding: 2rem 2.4rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    color: #FFFFFF;
    display: block;
    text-align: center;
    font-weight: 600;
}
.pricing-item > p{
    line-height: 1;
}