* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #F7F7F8;
    line-height: 150%;
    font-weight: 400;
    color: #262626;
    font-size: 1.8rem;
}
.container{
    background: #F7F7F8;
    max-width: 159.6rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 2rem;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}