*{
    margin:0;
    padding:0;
    box-sizing:border-box;}

html{font-size:62.5%}

.box{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    text-align:center;}

header {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 5rem;

h1{
    font-weight:700;
    font-size:6.4rem;
    color:#1e293b;}

.heading{
    font-weight:700;
    color:#c084fc;
    font-size:6.4rem;}

.content-heading{
    margin-top:1rem;
    margin-bottom:4rem;
    color:#334155;
    font-weight:400;
    font-size:2rem;}

a{
    font-size:1.8rem;}

.button{
    padding: 1rem 3rem;
    color:white;
    border-radius:2rem;
    font-weight:600;
    background-color:#a855f7;
    text-decoration: none;
}

.button:hover{
    background-color:#9333ea;
}

.logo{
    margin-top:4rem;
    border-radius:7rem;
    border: 0.2rem solid rgba(192, 132, 252, 0.6);
    width: 4rem;}

.text-logo{
    margin-top:1rem;
    font-weight:600;
    color:#334155;
    font-size:2rem;
}

.text2500{
    font-weight:700;}

#turnoncolor{
    margin-top:3rem;}

#turnoncolor:checked ~ .advice{
    background-color:rgba(192, 132, 252, 0.35);}

.advice{
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);

.title-advice{
    font-weight:700;
    font-size:2.2rem;}

.content-advice{
    font-weight:400;
    font-size:1.8rem;}

.icon{
    width: 1rem;
    height: 1rem;}

.text-benefits{
    padding-right:2rem;
    color: #334155;
    font-weight:600;
    font-size:1.6rem;}

footer{
    font-size:1.6rem;}