* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: rgba(255, 255, 255, 0.20);
    margin: 2rem;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    margin: 0.625rem 3.125rem;
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
    padding-top: 4rem;
}

.heading {
    color: #c084fc;
    font-weight: 700;
}

.title-heading {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 400;
}

.btn-heading {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: #a855f7;
    color: #fff;
    border-color: transparent;
    margin-left: 48rem;
    margin-top: 5rem;
}

.btn-heading:hover {
    background-color: #9333ea;
}

.logo {
    border-radius: 10rem;
    border: 0.25rem solid rgba(192, 132, 252, 0.6);
    width: 3rem;
    height: 3rem;
    margin-left: 54rem;
    margin-top: 5rem;
}

.title-logo {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 600;
}

.text2500 {
    color: #a855f7;
}

#turnoncolor {
    font-size: 1.125rem;
    font-weight: 600;
}

input {
    margin-left: 50rem;
    margin-top: 2rem;
}

label {
    padding-left: 0.625rem;
    color: #334155;
}

.advice {
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.title-advice {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #334155;
}

.content-advice {
    color: #334155;
    line-height: 2rem;
}

#turnoncolor:checked ~ .advice{
    background-color: rgba(192, 132, 252, 0.35);
}

#turnoncolor:checked ~ .advice .title-advice, #turnoncolor:checked ~ .advice .content-advice {
    color: #6b21a8;
}

.benefits{
    padding: 4rem;
    text-align: center;
    margin-top: 5rem;
}

.benefits span{
    padding-right: 2rem;
    color: #334155;
    font-weight: 400;
    font-size: 1rem;
}

.benefits img {
    width: 1.2rem;
    height: 1.2rem;
}

footer {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 0;
    border-top: 0.1rem solid purple;
}